<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
<h1>Welcome To Coding Dojo</h1>
<% if(messages.registration) { %>
     <% for (var x of messages.registration) { %>
      <h3><%= x %></h3>
     <% } %>
 <% } %>
<form action="/results" method="post">
	<p>Your Name: <input type="text" name="name"></p>
	<p>Your Quote: <input type="text" name="quote"></p>
	<a href="/add"><input type="submit" name="add" value="Add my quote!"></a>
</form>
<a href="/quotes"><input type="submit" name="skip" value="Skip to quotes"></a>
</body>
</html>